@import '~node_modules/modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    color: $main-text-color;
    font-size: 12px;
    line-height: 1.33;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
p,
a,
ul,
button {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

.container {
    margin: 0 auto;

    @media screen and (min-width: 320px) {
        width: 320px;
        padding: 0 20px;
    }

    @media screen and (min-width: 768px) {
        padding: 0 32px;
        width: 768px;
    }

    @media screen and (min-width: 1280px) {
        width: 1280px;
    }

}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}