<footer class="footer container">
  <div class="footer-container">
    <p class="footer-text">© 2023 | All Rights Reserved |</p>
    <p class="footer-text">Developed with</p>
    <svg class="icon icon-Vector-footer" width="14" height="13">
      <use href="./images/icons.svg#icon-Vector-footer"></use>
    </svg>
    <a
      class="footer-link"
      href="#about"
      type="button"
      data-action="open-footer-modal"
    >
      <span class="footer-text">by </span> GoIT Students</a
    >
    <div class="backdrop-footer js-backdrop">
      <div class="modal-footer">
        <button
          type="button"
          data-action="close-modal"
          class="close-modal-footer"
        >
          <svg class="icon icon-close-footer" width="18" height="18">
            <use xlink:href="./images/icons.svg#icon-close-footer"></use>
          </svg>
        </button>
        <h1>Наша команда</h1>
        <ul class="list-students">
          <li>
            <img
              src="./images/Andrii.jpeg"
              alt="foto-student"
              width="70"
              height="170"
            />
            <h2 class="footer-modal-title">Andrii Kharchenko</h2>
            <p class="footer-modal-text">Team lead</p>
            <a href="https://www.linkedin.com/home">
              <svg class="icon icon-linkedin-footer" width="20" height="20">
                <use href="./images/icons.svg#icon-linkedin-footer"></use></svg
            ></a>
            <a href="https://github.com/HAAndrii">
              <svg class="icon icon-github-footer" width="22" height="22">
                <use
                  xlink:href="./images/icons.svg#icon-github-footer"
                ></use></svg
            ></a>
          </li>
          <li>
            <img
              src="./images/Daria.jpeg"
              alt="foto-student"
              width="70"
              height="170"
            />
            <h2 class="footer-modal-title">Daria Drozd</h2>
            <p class="footer-modal-text">Scrum master</p>
            <a href="https://www.linkedin.com/in/daria-drozd-4a253625b/">
              <svg class="icon icon-linkedin-footer" width="20" height="20">
                <use href="./images/icons.svg#icon-linkedin-footer"></use></svg
            ></a>
            <a href="https://github.com/DariaDrozd">
              <svg class="icon icon-github-footer" width="22" height="22">
                <use
                  xlink:href="./images/icons.svg#icon-github-footer"
                ></use></svg
            ></a>
          </li>
          <li>
            <img
              src="./images/SerhiiBuha.jpeg"
              alt="foto-student"
              width="70"
              height="170"
            />
            <h2 class="footer-modal-title">Serhii Buha</h2>
            <p class="footer-modal-text">Frontend Developer</p>
            <a href="https://www.linkedin.com/in/serhii-buha/">
              <svg class="icon icon-linkedin-footer" width="20" height="20">
                <use href="./images/icons.svg#icon-linkedin-footer"></use></svg
            ></a>
            <a href="https://github.com/Serhii-Buha">
              <svg class="icon icon-github-footer" width="22" height="22">
                <use
                  xlink:href="./images/icons.svg#icon-github-footer"
                ></use></svg
            ></a>
          </li>
          <li>
            <img
              src="./images/OlhaBukina.jpeg"
              alt="foto-student"
              width="70"
              height="170"
            />
            <h2 class="footer-modal-title">Olha Bukina</h2>
            <p class="footer-modal-text">Frontend Developer</p>
            <a href="https://www.linkedin.com/in/olha-bukina-221b95248/">
              <svg class="icon icon-linkedin-footer" width="20" height="20">
                <use href="./images/icons.svg#icon-linkedin-footer"></use></svg
            ></a>
            <a href="https://github.com/OlyaBukina">
              <svg class="icon icon-github-footer" width="22" height="22">
                <use
                  xlink:href="./images/icons.svg#icon-github-footer"
                ></use></svg
            ></a>
          </li>
          <li>
            <img
              src="./images/AzizA.jpeg"
              alt="foto-student"
              width="70"
              height="170"
            />
            <h2 class="footer-modal-title">Aziz Emirasanov</h2>
            <p class="footer-modal-text">Frontend Developer</p>
            <a href="https://www.linkedin.com/in/emirasanov139b12174/ ">
              <svg class="icon icon-linkedin-footer" width="20" height="20">
                <use href="./images/icons.svg#icon-linkedin-footer"></use></svg
            ></a>
            <a href="https://github.com/Gwinblade740">
              <svg class="icon icon-github-footer" width="22" height="22">
                <use
                  xlink:href="./images/icons.svg#icon-github-footer"
                ></use></svg
            ></a>
          </li>
          <li>
            <img
              src="./images/TaiaSvi.jpeg"
              alt="foto-student"
              width="70"
              height="170"
            />
            <h2 class="footer-modal-title">Taia Sviachena</h2>
            <p class="footer-modal-text">Frontend Developer</p>
            <a
              href="https://www.linkedin.com/in/%D1%82%D0%B0%D1%8F-%D1%81%D0%B2%D1%8F%D1%87%D0%B5%D0%BD%D0%B0-264116248/"
            >
              <svg class="icon icon-linkedin-footer" width="20" height="20">
                <use href="./images/icons.svg#icon-linkedin-footer"></use></svg
            ></a>
            <a href="https://github.com/Tauaha">
              <svg class="icon icon-github-footer" width="22" height="22">
                <use
                  xlink:href="./images/icons.svg#icon-github-footer"
                ></use></svg
            ></a>
          </li>
          <li>
            <img
              src="./images/AntonG.jpeg"
              alt="foto-student"
              width="70"
              height="170"
            />
            <h2 class="footer-modal-title">Anton Gudima</h2>
            <p class="footer-modal-text">Frontend Developer</p>
            <a
              href="https://www.linkedin.com/in/%D1%82%D0%B0%D1%8F-%D1%81%D0%B2%D1%8F%D1%87%D0%B5%D0%BD%D0%B0-264116248/"
            >
              <svg class="icon icon-linkedin-footer" width="20" height="20">
                <use href="./images/icons.svg#icon-linkedin-footer"></use></svg
            ></a>
            <a href="https://github.com/TONYGUDIMA">
              <svg class="icon icon-github-footer" width="22" height="22">
                <use
                  xlink:href="./images/icons.svg#icon-github-footer"
                ></use></svg
            ></a>
          </li>
          <li>
            <img
              src="./images/DenisZ.jpg"
              alt="foto-student"
              width="70"
              height="170"
            />
            <h2 class="footer-modal-title">Dinis Zabrodsky</h2>
            <p class="footer-modal-text">Frontend Developer</p>
            <a href="https://www.linkedin.com/in/dinis-zabrodsky-269613271/">
              <svg class="icon icon-linkedin-footer" width="20" height="20">
                <use href="./images/icons.svg#icon-linkedin-footer"></use></svg
            ></a>
            <a href="https://github.com/DinisZabrodsky">
              <svg class="icon icon-github-footer" width="22" height="22">
                <use
                  xlink:href="./images/icons.svg#icon-github-footer"
                ></use></svg
            ></a>
          </li>
          <li>
            <img
              src="./images/SerheyPopov.jpeg"
              alt="foto-student"
              width="70"
              height="170"
            />
            <h2 class="footer-modal-title">Sergey Popov</h2>
            <p class="footer-modal-text">Frontend Developer</p>
            <a href="https://www.linkedin.com">
              <svg class="icon icon-linkedin-footer" width="20" height="20">
                <use href="./images/icons.svg#icon-linkedin-footer"></use>
              </svg>
              <a href="https://github.com/SerheyPopov">
                <svg class="icon icon-github-footer" width="22" height="22">
                  <use
                    xlink:href="./images/icons.svg#icon-github-footer"
                  ></use></svg
              ></a>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
