<section class="trending-section">

  <div class="trending-container">


  </div>
  <div id="pagination-buttons" class="pagination-section">
    <button id="prev" class="pagination__button arow__buttons">
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="pagination-arrows pagArrowL">
        <path d="M12.6667 8H3.33334"  stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"  class="pagArrowL"/>
        <path d="M8.00001 12.6666L3.33334 7.99998L8.00001 3.33331"  stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round" class="pagArrowL"/>
        </svg>
        
    </button>
    <div id="paging">


    </div>
    <button id="next" class="pagination__button arow__buttons">
      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="pagination-arrows pagArrowR">
        <path d="M3.33335 8H12.6667"  stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round" class="pagArrowR"/>
        <path d="M8.00002 12.6666L12.6667 7.99998L8.00002 3.33331"  stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round" class="pagArrowR"/>
    </svg>  
    </button>
  </div>

</section>
