<section>
  <div class="conteiner backdrop is-hidden" id="movie-backdrop">
    <div class="modal">
      <button class="modal-close-button">
        <img src="./images/Modal/close.svg" alt="close button" />
      </button>
      <div class="modal-content">

      </div>
      <!-- <div class="modal-image">
        <img src="./images/Modal/Rectangle 18.jpg" alt="постер" />
      </div>
      <div class="modal-text-content">
        <h3>a fistful of lead</h3>
        <p class="modal-text-content-id">70796</p>
        <ul class="modal-text-content-list">
          <li>
            <p>Vote / Votes</p>
            <p><span>7.3</span> / 1260</p>
          </li>
          <li class="modal-text-content-list-element">
            <p>Popularity</p>
            <p>100.2</p>
          </li>
          <li class="modal-text-content-list-element">
            <p>Original Title</p>
            <p>A FISTFUL OF LEAD</p>
          </li>
          <li class="modal-text-content-list-element">
            <p>Genre</p>
            <p>Western</p>
          </li>
        </ul>
        <p class="modal-text-content-about">About</p>
        <p class="modal-text-content-about-text">
          Four of the West’s most infamous outlaws assemble to steal a huge
          stash of gold from the most corrupt settlement of the gold rush towns.
          But not all goes to plan one is killed and the other three escapes
          with bags of gold hide out in the abandoned gold mine where they
          happen across another gang of three – who themselves were planning to
          hit the very same bank! As tensions rise, things go from bad to worse
          as they realise the bags of gold are filled with lead... they’ve been
          double crossed – but by who and how?
        </p>

        <div class="modal-buttons">
          <button class="modal-buttons-one">add to Watched</button>
          <button class="modal-buttons-two">add to queue</button>
        </div>
        <button class="modal-buttons-watchTreiler">Watch the trailer</button>
      </div> -->
    </div>
  </div>
</section>
